spring:
  datasource:
    url: jdbc:mysql://localhost:3306/finances?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: app
    password: secret
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
server:
  port: 8080


app:
  jwt:
    secret: "put_a_very_long_secret_here_or_use_env"
    expiration-ms: 3600000 # 1 hora


logging:
  level:
    root: INFO
    com.example: DEBUG